<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dog api</title>
</head>
<body>
    <h1><%= breed.attributes.name %></h1>
    <p><%= breed.attributes.description%></p>
</body>
</html>