<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dog api</title>
</head>
<body>
    <ul>
        <% facts.forEach((fact) => { %>
            <li><%= fact.attributes.body %></li>
        <% });%>
    </ul>
</body>
</html>