<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dog api</title>
</head>
<body>
    <% for (const [key, value] of Object.entries(groups)) { %>
        <ul>
            <h3><%= key %></h3>
            <li> <%= value %></li>
        </ul>
    <% } %>
</body>
</html>